<div class="map-widget panel">Put some ui widget here...
<div class="checkbox">
  <form>
    <input  type="text" 
        ng-model="queryName"
        ng-places-autocomplete 
        pa-options="paOptions" 
        pa-on-place-ready="searchPlace"
        placeholder="search a place here..."
        class="form-control"
/> 
  </form>
  <br>
  <ul>
    <li ng-repeat="factor in widgetFactorList">
      <label>
        <input type="checkbox" ng-click="toggleMarker(factor)">{{factor.name}}
      </label><br>
    </li>
  </ul>
  </div>

</div>
